:root{
    /*COLORES*/
 --iconnav-letters:#697477;
 --fondo-masvistos-footer:#eff3f5;
 --titulos: #2a3b47;
 --fondo-sectiondos:#fcfcfc;
 --fondo-main:#fbfbfe;
 --letter-carrito-blue:#1192ee;
 --fondo-lanzamiento:#e7f4fd;
 --fondo-docente:rgb(247, 247, 247);
 --carritos-amarillo:#ffbc4c;
 --estrella-especialidad:#ffba42;
 --fondo-rojo:#fdeded;
 --curso-gratis:#eb5656;
 --taller-verde:#2dd280;
 --fondo-taller:#eafbf2;
 --fondo-especialidad:#fff8eb;
 --preguntas:#007bdf;
 --color-rrss:#515151;
 --empresarial: #094977;

}
*{ 
    margin: 0;
    padding: 0;
}
html{
    font-size: 41.68%;
    font-family: 'Open Sans', sans-serif;
}
/*HEADER NAV*/
header{
 position: relative;
 display: flex;
 flex-direction: column;
 width: 100%;
 min-width: 320px;
 height: 50px;
 padding-top: 3px;
}
.header__nav{
width: 100%;
display: flex;
align-items: center;
justify-content: space-between;
}
.header__nav--der img{
 width: 110px;
 margin-left: 15px;
 margin-top: 5px;
}
.header__nav--izq{
display: flex;
}
.header__nav--izq img{
    width: 30px;
    margin: 6px;
}
.rotate{
    transform: rotate(90deg);
 }
/*HEADER NAV*/
.principal{
    background: var(--titulos);
    width: 100%;
    padding: 15px 0px 25px 0px;
}
.principal h1{
    font-size: 3.4rem;
    color: var(--fondo-sectiondos);
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
    margin-bottom: 15px;
    margin-left: 10px;
}
.compras{
    width: 92%;
    background: var(--titulos);
    border: 1px solid #050505 ;
    border-radius: 10px;
    padding:25px 0 0 0px;
    text-align: center;
    margin-left: 10px;
}
.compras img{
    width: 85%;
    border: 1px solid #050505 ;
    border-radius: 8px;
    margin-bottom: 15px;
}
.compras__costo{
    display: grid;
    grid-template-columns: 68% 32%;
}
.compras__der{
    padding-left: 22px;
    text-align: left;
}

.compras h2{
    font-size: 2rem ;
    color: var(--fondo-sectiondos);
}
.compras p{
    font-size: 2rem ;
    color: var(--iconnav-letters);
    margin: 10px 0;
}
.compras__izq{
    text-align: left;
}
.compras__carrito{
    width: 94,5%;
    height: 50px;
    padding-left: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
    background: var(--empresarial);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top: 1px solid #050505;
}
.compras__carrito h2{
    font-size: 2rem;
}
.compras__carrito p{
    font-size: 2rem;
    margin-right: 20px;
    font-weight: bolder;
}
.compras__der p:nth-last-of-type(1) img{
    width: 18px;
    border: none;
    float: left;
}
.compras__der p:nth-last-of-type(1){
    color: var(--curso-gratis);
    font-weight: bolder;
}
.compras__carrito img{
    width: 20px;
    border: none;
    float: left;
    margin-right: 5px;
    margin-bottom:0;
}
/*FORMAS DE PAGO*/
.pago{
    width: 92%;
    background: var(--titulos);
    border: 1px solid #050505 ;
    border-radius: 10px;
    text-align: center;
    margin-left: 10px;
    margin-top: 20px;
    padding-bottom: 20px;
}
.pago__forma{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    height: 45px;
    border-bottom: 1px solid black;
}
.pago__forma img{
    width: 20px;
    float: left;
    margin-left: 6px;
    margin-right: 2px;
}
.pago__forma p{
    font-size: 1.9rem;
    color: var(--iconnav-letters);
    font-weight: bolder;
    text-align: left;
}
/*FORMAS DE PAGO*/
/*BOTON MIRA NUESTROS CURSOS*/
.boton_dos{
    display: flex;
    justify-content: center;
}
.boton_dos button{
    margin: 10px 0;
    color:var(--fondo-main);
    background: var(--taller-verde);
    height: 40px;
    width: 250px;
    font-size: 2.4rem;
    font-weight: bolder;
    font-family: 'Raleway', sans-serif;
    border-radius: 8px;
}

/*BOTON MIRA NUESTROS CURSOS*/
/*BOTON SELECCIONADOR*/
.precios__botones{
    width: 100%; 
    margin: 10px 0;
}

.precios__botones span{
    font-size: 2.2rem;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    color: var(--titulos);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--iconnav-letters);
}
.precios__botones input{
    margin-right: 2px;
    margin-top: 1.5px;
}
/*BOTON SELECCIONADOR*/
/*INFORMACION SOBRE PAGO*/
.cupon{
    text-decoration: none;
    font-size: 2rem;
    color: var(--letter-carrito-blue);

}

.cupon img{
    width: 15px;
    margin-top:10px;
}
/*INFORMACION SOBRE PAGO*/
/*footer*/
footer{
    width: 100%;
    height: calc(100% - 50px);
    background: var(--fondo-masvistos-footer);
    padding: 10px;
    }
    .equipo{
    width: 100%;
    height: auto;
    }
    .equipo__container{
        display: flex;
        flex-direction: column;
        margin: 10px;
    }
    .equipo__container h2{
        font-size: 2rem;
        letter-spacing: 0.08rem;
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        margin-bottom: 10px;
    }
    .equipo__container--logo{
        display: grid;
        grid-template-columns: 10% 85%;
    }
    .equipo__container--logo img{
     width: 20px;
    }
    
    .equipo__container--paises p{ 
     font-size: 1.5rem;
     padding-bottom: 2px;
     border-left: 2px solid var(--iconnav-letters);
     padding-left: 15px;
     color: var(--iconnav-letters);
    }
    .rrss{
        width: 100%;
        height: 20px;
        display: flex;
        justify-content: center;
    }
    
    .rrss img{
        width:20px;
        object-fit: contain;/*para mantener proporcion*/
        margin: 0 10px;
    }
    .equipo__container--paises a{
        font-size: 1.5rem;
        display: block;
        padding-bottom: 2px;
        text-decoration: none;
        border-left: 2px solid var(--iconnav-letters);
        padding-left: 15px;
        color: var(--iconnav-letters);
    }
/*footer*/