/*
1. Posicionamiento
2. Modelo caja (Box model)
3. Tipografia
4. Temas visuales
5. Otros
*/
:root{
    /*COLORES*/
 --iconnav-letters:#697477;
 --fondo-masvistos-footer:#eff3f5;
 --titulos: #2a3b47;
 --fondo-sectiondos:#fcfcfc;
 --fondo-main:#fbfbfe;
 --letter-carrito-blue:#1192ee;
 --fondo-lanzamiento:#e7f4fd;
 --fondo-docente:rgb(247, 247, 247);
 --carritos-amarillo:#ffbc4c;
 --estrella-especialidad:#ffba42;
 --fondo-rojo:#fdeded;
 --curso-gratis:#eb5656;
 --taller-verde:#2dd280;
 --fondo-taller:#eafbf2;
 --fondo-especialidad:#fff8eb;
 --preguntas:#007bdf;
 --color-rrss:#515151;
}
*{ box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 41.68%;
    font-family: 'Open Sans', sans-serif;
}
/*NAVEGADOR*/
header{
 position: relative;
 display: flex;
 flex-direction: column;
 width: 100%;
 min-width: 320px;
 height: 50px;
 padding-top: 3px;
}
.header__nav{
width: 100%;
display: flex;
align-items: center;
justify-content: space-between;
}
.header__nav--der img{
 width: 110px;
 margin-left: 15px;
 margin-top: 5px;
}
.header__nav--izq{
display: flex;
}
.header__nav--izq img{
    width: 30px;
    margin: 6px;
}
/*NAVEGADOR*/

/*MENU DESPLEGABLE*/
.menu_desplegable{
    position: fixed;
    background: rgba(247, 247, 247);
    z-index: 3;
    top: 50px;
    right: -100vw;
    width: 90vw;
    bottom: 0;
    display: flex;
    flex-direction: column;
    transition: .3s;
}
.menu_desplegable.is-active{
    right: 0;
}

.menu * { 
    list-style:none; 
}

.menu li{ 
   line-height:4rem;
   width: 300px;
}
.menu label{
   font-size: 2.4rem;
   letter-spacing: 0.08rem;
   font-family: 'Raleway', sans-serif;
   font-weight: 700;
   position: relative;
   align-items: center;
   display: flex;
   height: 30px;
   border-bottom: 1px solid var(--fondo-masvistos-footer);
   border-top: 1px solid  var(--fondo-masvistos-footer);
   background: var(--fondo-sectiondos);
   color: var(--titulos);  
}
.icon{
   width: 5rem;
   object-fit: contain;
   padding: 0 8px;
}
.chevron{
   display: flex;
   width: 3rem;
   position: absolute;
   left: calc(90% - 2rem);
   transform: rotateX(0deg);
   transition: 0.25s;
}
.chevron.is-click{
   transition: 0.25s;
   transform: rotateX(180deg);
}

.menu input[name="list"] {
   position: absolute;
   left: -1000em;   
}

.menu li a{
   background: var(--fondo-sectiondos);
   color: var(--iconnav-letters);
   text-decoration:none;
   font-size: 2.1rem;
   letter-spacing: 0.08rem;
   font-family: 'Raleway', sans-serif;
   font-weight: 700;
   padding-left: 5rem;
}

.menu .interior{
   display: none; 
   border-bottom: 1px solid var(--fondo-masvistos-footer);
   border-top: 1px solid  var(--fondo-masvistos-footer);
   background: var(--fondo-sectiondos);
  
} 

.menu input:checked ~ ul{
   display:block; 
}
.articulo{
   display: flex;
   align-items: center;
   height: 30px;
   border-bottom: 1px solid var(--fondo-masvistos-footer);
   border-top: 1px solid  var(--fondo-masvistos-footer);
   background: var(--fondo-sectiondos);
}
.articulo a{  
    text-decoration:none;
    font-size: 2.4rem;
    color: var(--titulos);
    font-weight: 700;
    letter-spacing: 0.08rem;
    font-family: 'Raleway', sans-serif;
}
/*MENU DESPLEGABLE*/
/*INICO SESION*/


.inicio{
    position: fixed;
    display: flex;
    z-index: 3;
    top: 50px;
    bottom: 0;
    right: -100vw;
    flex-direction: column;
    padding: 15px;
    width: 100%;
    background: rgba(8, 7, 7, 0.5);  
}
 .inicioSesion{
    display: flex;
    flex-direction: column;
    padding: 15px;
    border-radius: 15px;
    width: 100%;
    background: rgba(247, 247, 247); 
    border: 1px solid rgb(239, 243, 245);
} 
.inicio.is-active{
    right: 0px;
}
.inicioSesion h2{
    font-family: 'Raleway', sans-serif;
    text-align: left;
    font-size: 2.3rem;
    font-weight: 700;
    color: var(--titulos);
}
.inicioSesion__logos{
    text-align: center;
}

.inicioSesion img{
    width: 25px;
    margin: 15px;
    align-content: center;
    /*cursor: pointer;*/
}
.inicioSesion p{
    font-size: 2.2rem;
    text-align: center;
    font-weight: bold;
    line-height: 4rem;
}
.inicioSesion p a{
    text-decoration: none;
    color: var(--letter-carrito-blue);
    /*cursor: pointer;*/
    
}


.boton_dos{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.boton_dos input{
    width: 90%;
    height: 5rem;
    margin: 10px 0 5px 0;
    border-radius: 5px;
    border: 1px solid rgb(239, 243, 245);
    outline-style: none;
    padding-left: 15px;
}
.boton_dos input::placeholder{
    color: var(--iconnav-letters);
}

button{
    color:var(--fondo-main);
    font-size: 2rem;
    font-weight: 700;
    background-color: var(--letter-carrito-blue);
    border-radius: 5px;
    border: none;
    width: 200px;
    height: 40px;
    margin: 10px 0;
}
/*INICIO SESION*/

.main__masvistos{
    width: 100%;
    height: calc(100% - 50px);
    background-color: var(--fondo-masvistos-footer);
    height: 150px;
    padding-top: 2px;
}
.main__masvistos p{
    font-size: 2.4rem;
    letter-spacing: 0.08rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    margin: 10px;
}
.main__scroll{
    overflow: scroll;
    width: 100%;
    display: flex;
    flex-direction: row; 
} 
.main__scroll::-webkit-scrollbar{
    display: none;
}
.main__scroll img{
    width: 150px;
    border-radius: 10px;
    margin: 0px 8px;
}
.rotate{
   transform: rotate(90deg);
}
.main__sectionuno{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
}
.main__sectionuno--button1{
    display: flex;
    align-items: center;
    width: 300px;    
    height: 40px;
    position: relative;
}
.main__sectionuno--button1 img{
    width: 35px;
    margin-left: 10px;  
}
.main__sectionuno--button1 a span{
    width: 13rem;
    height: 2rem;
    position: absolute;
    order:1;
    top: 16px;
    margin-left: 5px;
    background-repeat: no-repeat;
    background-image: url('./assets/icons/down-arrow.svg');
}
.main__sectionuno--buttons{
    overflow: scroll;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 2rem;   
}
.main__sectionuno--buttons::-webkit-scrollbar{
    display: none;
}
.main__sectionuno--button2{
    position: relative;
}
.main__sectionuno--button2 img{
    width: 18px;
    position: absolute;
    bottom: 29%;
    left: 1.5rem;
    order: 1;
 
}
.main__sectionuno--button2 option{
   padding: 0;
   margin: 0;
}
.select {
    padding-right:  5rem; 
    border-radius: 5px;
    border: 1px solid rgb(239, 243, 245) ;
    order: 0;
    padding-left: 4.5rem;
    height: 6.3rem;
    letter-spacing: .2px;
    font-weight: bold;
    font-size: 2.1rem;
    color: var(--iconnav-letters);
    appearance: none;
    background-image: url('./assets/icons/chevron-downblue.svg');
    background-repeat: no-repeat;
    background-position: calc(100% - .5rem);
    background-size: 3.5rem;
    outline: none;
}
.tag{
    transform: rotate(180deg);
}
.main__sectiondos{
    background: var(--fondo-main);
    width: 100%;
    height: calc(100vh -210px - 80px -200px);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
}
.main__sectiondos--container{
    width: 90%;
    height: 330px;
    background: var(--fondo-sectiondos);
    border-radius: 15px;
    box-shadow: -1px 20px 10px 0px rgba(145, 145, 145, 0.8);
    margin-bottom: 40px;
}
.main__sectiondos--container img{
    width: 100%;
    border-radius: 15px 15px 0 0;
}
.main__sectiondos--container h2{
    color: var(--titulos);
    font-size: 2.3rem;
    letter-spacing: 0.08rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    padding: 10px;
}
.main__sectiondos--container p{
    padding: 0 10px;
    padding-bottom: 15px;
    font-size: 2rem;
}
.main__estadouno{
    width: 160px;
    height: 20px;
    background: var(--fondo-lanzamiento);
    margin-left: 10px;
    border-radius: 5px;
}
.main__estadouno img{
    width: 12px;
    margin-left: 5px;
    margin-top: 3px;
}
.main__estadouno span{
    font-size: 2rem;
    color: var(--letter-carrito-blue);
}
.main__docente{
    width: 100%;
    height: 45px;
    background: var(--fondo-docente) ;
    padding-top:0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 0 0 15px 15px;
    margin-top: 10px;
}
.main__docente--der{
    display: flex;
    align-items: center;
    margin-left: 10px;
}
.main__docente--der img{
    width: 30px;
    border-radius: 30px;
    
}
.main__docente--der span{
    font-size: 1.8rem;
    color: var(--iconnav-letters);
    margin-left: 5px;
}
.main__docente--izq{
    display: flex;
    align-items: center;
}
.main__docente--izq img{
    width: 30px;
    border-radius: 30px;
}
.main__docente--izq span{
    color: var(--carritos-amarillo);
    font-size: 1.8rem;
    margin-right: 15px;
}
.main__estadodos{
    width: 70px;
    height: 20px;
    background: var(--fondo-taller);
    margin-left: 10px;
    border-radius: 5px;
    padding: 3px;
    display: flex;
    align-items: center;
}
.main__estadodos img{
    width: 15px;
    margin-left: 5px;

}
.main__estadodos span{
    font-size: 1.9rem;
    color: var(--taller-verde);
    margin-left: 5px;
}  
.main__docente2--izq{
    display: flex;
    align-items: center;
}
.main__docente2--izq img{
    width: 30px;
    border-radius: 30px;
}
.main__docente2--izq span{
    color: var(--letter-carrito-blue);
    font-size: 1.8rem;
    margin-right: 15px;
}
.main__estadotres{
    width: 120px;
    height: 20px;
    background: var(--fondo-rojo);
    margin-left: 10px;
    border-radius: 5px;
    padding: 3px;
    display: flex;
    align-items: center;
}
.main__estadotres img{
    width: 15px;
    margin-left: 5px;

}
.main__estadotres span{
    font-size: 1.9rem;
    color: var(--curso-gratis);
    margin-left: 5px;
}  
.main__docente3--izq{
    display: flex;
    align-items: center;
}
.main__docente3--izq img{
    width: 30px;
    border-radius: 30px;
}
.main__docente3--izq span{
    color: var(--letter-carrito-blue);
    font-size: 1.8rem;
    margin-right: 15px;
}
.main__estadocuatro{
    width: 120px;
    height: 20px;
    background: var(--fondo-rojo);
    margin-left: 10px;
    border-radius: 5px;
    padding: 3px;
    display: flex;
    align-items: center;
}
.main__estadocuatro img{
    width: 15px;
    margin-left: 5px;

}
.main__estadocuatro span{
    font-size: 1.9rem;
    color: var(--estrella-especialidad);
    margin-left: 5px;
}  
.main__docente4--izq{
    display: flex;
    align-items: center;
}
.main__docente4--izq img{
    width: 30px;
    border-radius: 30px;
}
.main__docente4--izq span{
    color: var(--letter-carrito-blue);
    font-size: 1.8rem;
    margin-right: 15px;
}

footer{
width: 100%;
height: calc(100% - 50px);
background: var(--fondo-masvistos-footer);
padding: 10px;
}
.equipo{
width: 100%;
height: auto;
}
.equipo__container{
    display: flex;
    flex-direction: column;
    margin: 10px;
}
.equipo__container h2{
    font-size: 2rem;
    letter-spacing: 0.08rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    margin-bottom: 10px;
}
.equipo__container--logo{
    display: grid;
    grid-template-columns: 10% 85%;
}
.equipo__container--logo img{
 width: 20px;
}

.equipo__container--paises p{ 
 font-size: 1.5rem;
 padding-bottom: 2px;
 border-left: 2px solid var(--iconnav-letters);
 padding-left: 15px;
 color: var(--iconnav-letters);
}
.rrss{
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: center;
}

.rrss img{
    width:20px;
    object-fit: contain;/*para mantener proporcion*/
    margin: 0 10px;
}
.equipo__container--paises a{
    font-size: 1.5rem;
    display: block;
    padding-bottom: 2px;
    text-decoration: none;
    border-left: 2px solid var(--iconnav-letters);
    padding-left: 15px;
    color: var(--iconnav-letters);
}